**/.venv/**
**/__pycache__/**
*.pyc
**/node_modules/**
invoiceinator/client.json
invoiceinator/token.json
invoiceinator/.env
**/admin/**
**/media/**
**/staticfiles/**
*Zone.Identifier
invoiceinator/db.sqlite3
